body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    padding: 0;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    background-image: url(/static/banner3.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


form {
    margin-top: 20px;
}

input[type="file"] {
    display: none;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

button:hover {
    background-color: #45a049;
}

.text-box{
    font-family: Georgia, serif;
    width:90%;
    color:#fff;
    position:absolute;
    top:25%;
    left:48%;
    transform:translate(-50%,-50%);
    text-align:center;
}

.text-box h1{
    font-size:120px;
    padding-top: 20%;
}

.text-box p {
    margin:10px 0 40px;
    font-size:14px;
    color:rgb(255, 255, 255);
}

.hero-btn{
    display : inline-block;
    text-decoration:none;
    color:#fff;
    border:1px solid #fff;
    padding:12px 34px;
    font-size:13px;
    background:transparent;
    position:relative;
    cursor:crosshair;
}
.hero-btn:hover{
    border:1px solid rgb(255, 255, 255);
    background:blue;
    transition:1s;
}

/* Styles for the fake progress bar */
#progress-bar-container {
    width: 8%;
    height: 20px;
    background-color: #ddd;
    position: relative;
    overflow: hidden;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

#progress-bar {
    height: 100%;
    width: 0;
    background-color: #4caf50;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.1s;  /* You can adjust the duration of the animation */
}

#pointer-container {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
}

#pointer {
    width: 20px;
    height: 20px;
    background-color: #4caf50;
    border-radius: 50%;
    margin-left: -10px;
    z-index: 1;
}

#pointer-text {
    position: relative;
    margin-right: 5px;
    font-weight: bold;
    color: #000000;
    z-index: 2;
}

#fileNameDisplay {
    margin-top: 10px;
    display: none;
}

/* Additional styles for potential questions */
.potential-questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    margin-left: -55%;

    /* Adjusted margin-left to move 25% to the left */
}

.potential-question {
    margin-bottom: 10px;
    cursor: pointer;
    color: white;

}

.potential-questions p{
    margin-bottom: 10px;
    cursor: pointer;
    color: white;
    text-decoration: underline;

}

.chatcontainer{
    width: 50%;
    box-sizing: border-box;

}

.top-side{
    max-height: 35%; /* Set the maximum width as desired */
    padding: 20px; /* Add padding for better styling (optional) */
    box-sizing: border-box; /* Include padding in the width */
    text-align:left;
}

.top-side h1{
    font-size:60px;
    text-decoration: underline;
}

.chat-input input {
    flex: 1;
    padding: 12px; /* Increase padding for height */
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px; /* Adjust font size */
}